
{% if attrs %}
    {% if container %}
    <li class="item">
        <input type="checkbox" name="attrs">
        <label for="attrs" style="font-weight: bolder;">Attributes</label>
    {% endif %}
        <ul class="item-list attrs">
            {% for name, value in attrs.items() %}
                <li class="item">
                    <span>{{ name }} : </span>
                    <span style="color: #555;">{{ value }}</span>
                </li>
            {% endfor %}
        </ul>
        {% if container %}
    </li>
    {% endif %}    
{% endif %}
