<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sentinel Product Data Structures and Formatting</title>
    <!-- 2 load the theme CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

</head>

<body>
    <!-- 3 setup a container element -->
    <div class="d-flex flex-column d-flex align-items-left">
        <!-- <div class="mt-2 p-2 border border-white rounded bg-secondary text-white">
            <h2>
                {{ product.name }}
            </h2>
        </div> -->

        <div class="product_frame p-2" id="jstree">
            <!-- in this example the tree is populated from inline HTML -->
            <ul>
                <li data-jstree='{"icon":"bi bi-diagram-3-fill","opened":true}'>
                    <span class="text-uppercase text-primary fw-bold">{{ product.name }}</span>
                    <ul>
                        {% with attrs=product.attrs, container=True %}
                            {% include "attrs.html" %}
                        {% endwith %}
                    </ul>
                    <ul>
                        {% for group in product %}
                            {% with group=group, icon="bi-diagram-2-fill" %}
                                {% include "group.html" %}
                            {% endwith %}
                        {% endfor %}
                        {% with group=product.coords, icon="bi-geo-alt" %}
                            {% include "group.html" %}
                        {% endwith %}
                    </ul>
                    {% if product.metadata %}
                        {% with metadata=product.metadata %}
                            {% include "metadata.html" %}
                        {% endwith %}
                    {% endif %}
                </li>

            </ul>
        </div>


    </div>

    <!-- 4 include the jQuery library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <!-- 5 include the minified jstree source -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            // 6 create an instance when the DOM is ready
            $('#jstree').jstree();
            // 7 bind to events triggered on the tree
            $('#jstree').on("changed.jstree", function (e, data) {
                console.log(data.selected);
            });
            // 8 interact with the tree - either way is OK
            // $('button').on('click', function () 
            // {
            //   $('#jstree').jstree(true).select_node('groups_node');
            //   $('#jstree').jstree('select_node', 'groups_node');
            //   $.jstree.reference('#jstree').select_node('groups_node');
            // });
        });
    </script>
</body>

</html>
