{% if group.groups %}
    <li class="item">
        <input type="checkbox" name="{{ group.name }}">
        <label for="{{ group.name }}">{{ group.name }}</label>
        {% for group in group.groups.values() %}
            {% with group=group, class_name="" %}
                {% include "group.html" %}
            {% endwith %}
        {% endfor %}
    </li>
{% else %}
    <li class="item">
        <input type="checkbox" name="{{ group.name }}_variable">
        <label for="{{ group.name }}_variable">{{ group.name }}</label>
        <ul class="item-list {{ class_name }}">
            <li class="item">
                <span style="color: #666;">Dimensions( {{ ",".join(group.dims) }} )</span>
            </li>

            {% if group.coords %}
                {% with group=group.coords, class_name="coords" %}
                    {% include "group.html" %}
                {% endwith %}
            {% endif %}
            {% with attrs=group.attrs, container=True %}
              {% include "attrs.html" %}
            {% endwith %}

            <li class="item">
                <input type="checkbox" name="{{ group.name }}_variable">
                <label for="{{ group.name }}_variable">Variables</label>
                <ul class="item-list">
                    {% for variable in group %}
                        {% with variable=variable %}
                            {% include "variable.html" %}
                        {% endwith %}
                    {% endfor %}

                </ul>
            </li>
        </ul>
    </li>
{% endif %}
